<h1>Listado Tipo de Cambio</h1>
<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Monto"
          formControlName="monto"
        />
        <span class="form-text text-danger" *ngIf="campoEsValido('monto')"
          >Debe ser mayor a 0</span
        >
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Moneda Origen"
          formControlName="monedaOrigen"
        />
        <span
          class="form-text text-danger"
          *ngIf="campoEsValido('monedaOrigen')"
          >Debe ingresar una moneda</span
        >
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Moneda Destino"
          formControlName="monedaDestino"
        />
        <span
          class="form-text text-danger"
          *ngIf="campoEsValido('monedaDestino')"
          >Debe ingresar una moneda</span
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nro</th>
      <th scope="col">Monto</th>
      <th scope="col">Tipo de Cambio</th>
      <th scope="col">Moneda Origen</th>
      <th scope="col">Moneda Destino</th>
      <th scope="col">Monto Conversion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of lista">
      <th scope="row">{{ t.Id }}</th>
      <td>{{ t.Monto }}</td>
      <td>{{ t.MontoTipoCambio }}</td>
      <td>{{ t.MonedaOrigen }}</td>
      <td>{{ t.MonedaDestino }}</td>
      <td>{{ t.MontoConversion }}</td>
    </tr>
  </tbody>
</table>
